<nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation>
        <nb-step [label]="labelOne">
          <ng-template #labelOne>First step</ng-template>
          <h4>KYC Details</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" row="5" nbInput fullWidth formControlName="name" placeholder="" />
            </div>
            <div class="form-group">
                <label>Id Number</label>
                <input type="text" row="5" nbInput fullWidth formControlName="idNumber" placeholder="" />
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" row="5" nbInput fullWidth formControlName="address" placeholder="" />
            </div>
            <div class="form-group">
                <label>Spaces</label>
                <input type="text" row="5" nbInput fullWidth formControlName="spaces" placeholder="" />
            </div>
            <div class="form-group">
                <label>Social Intrests</label>
                <input type="text" row="5" nbInput fullWidth formControlName="socialIntrests" placeholder="" />
            </div>
            <div class="form-group">
                <label>Business Intrests</label>
                <input type="text" row="5" nbInput fullWidth formControlName="businessIntrests" placeholder="" />
            </div>
            <div class="form-group">
                <label>Contact Details</label>
                <input type="text" row="5" nbInput fullWidth formControlName="contactDetails" placeholder="" />
            </div>
           
        </form>
          <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
            <ng-template #labelTwo>Second step</ng-template>
            <h4>Meeting Information</h4>
  
            <form [formGroup]="SalesForm">
             <div class="row">
                <div class="form-group col-md-6">
                    <label>Meeting Date</label>
                    <input row="5"  nbInput  [nbDatepicker]="meetingDate" fullWidth formControlName="meetingDate" placeholder="" />
                    <nb-datepicker #meetingDate></nb-datepicker>
                </div>
                <div class="form-group col-md-6">
                    <label>Meeting Time</label>
                    <input row="5" nbInput      [nbTimepicker]="meetingStartTime" fullWidth formControlName="meetingTime" placeholder="" />
                  <nb-timepicker #meetingStartTime></nb-timepicker>
                </div>
             </div>
              <div class="row">
                  <div class="form-group col-md-6">
                      <label>Meeting Agenda</label>
                      <input type="text" row="5" nbInput fullWidth formControlName="meetingAgenda" placeholder="" />
                  </div>
  
                  <div class="form-group col-md-6">
                      <label>Meeting Venue</label>
                      <input type="text" row="5" nbInput fullWidth formControlName="meetingVenue" placeholder="" />
                  </div>
  
              </div>
           
              <div class="row">
                <label>Customer Issues</label>
                <textarea formControlName="customerIssues" nbInput fullWidth placeholder="Add Customer Issues Information"></textarea>
              </div>
          </form>
           
            <button class="prev-button" nbButton nbStepperPrevious>prev</button>
            <button class="next-button" nbButton nbStepperNext>next</button>
          </nb-step>

        <nb-step [label]="labelThree">
          <ng-template #labelThree>Third step</ng-template>
          <h4>Business Value Creation </h4>

          <form [formGroup]="SalesForm">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label>Background</label>
                    <textarea formControlName="background" nbInput fullWidth placeholder="Background Information"></textarea>  
                </div>
                <div class="form-group col-lg-6">
                    <label>Value Creation Strategy</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="strategy" placeholder="" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Investments Cluster | Current Business</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="investments" placeholder="" />
                </div>

                <div class="form-group col-md-6">
                    <label>Investments Cluster | Opportunities and 3 Year End Game</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="threeYearInvestments" placeholder="" />
                </div>

            </div>
         
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Banking Cluster | Current Business</label> 
                    <input type="text" row="5" nbInput fullWidth formControlName="banking" placeholder="" />
                </div>
                <div class="form-group col-md-6">
                    <label>Banking Cluster | Opportunities and 3 Year End Game</label> 
                    <input type="text" row="5" nbInput fullWidth formControlName="threeYearBanking" placeholder="" />
                </div>
            </div>
           
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Insurance Cluster | Current Business</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="insurance" placeholder="" />
                </div>
                <div class="form-group col-md-6">
                    <label>Insurance Cluster | Opportunities and 3 Year End Game</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="threeYearInsurance" placeholder="" />
                </div>
            </div>
            
          
            <div class="row">
                <div class="form-group col-md-6">
                    <label>ONE ZB | Current Business</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="oneZbs" placeholder="" />
                </div>
                <div class="form-group col-md-6">
                    <label>ONE ZB |  Opportunities and 3 Year End Game</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="threeYearOneZb" placeholder="" />
                </div>
            
            </div>  
        </form>
         
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelFour">
            <ng-template #labelFour >Fourth step</ng-template>
            <h4>Client Due Diligence</h4>
            <form [formGroup]="SalesForm">
              <div class="form-group">
                  <label>Diligence</label>
                  <input type="text" row="5" nbInput fullWidth formControlName="deligents" placeholder="" />
              </div>
             
                <div *ngIf="!data.id" class="form-group">
                  <label for="formFileSm" class="form-label">File</label>
                  <input class="form-control form-control-lg" (change)="onFileSelected($event)" id="file" formControlName="fileName" type="file" />
                  <p *ngIf="selectedFileName">{{ selectedFileName }}</p>
                </div>
              
                
          </form>
        
            <button class="prev-button" nbButton nbStepperPrevious>prev</button>
            <button class="next-button"  nbButton  nbStepperNext>next</button>
          </nb-step>
        <nb-step label="Fifth Step">
            <ng-template #labelFive >Fifth step</ng-template>
          <h4>Recommendations</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Invite to join/Not to invite to join</label>
                <input type="text" row="5" nbInput fullWidth formControlName="recommendations" placeholder="" />
            </div>
           
        </form>
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
      
        <nb-step [label]="labelSix">
            <ng-template #labelSix>Sixth step</ng-template>
            <h4>Qualification Criteria</h4>
            <form [formGroup]="SalesForm">
                <div class="form-group">
                    <label>Income Per Year</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="incomeType" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Total Assets</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="assetsType" placeholder="" />
                </div>
                <div class="form-group">
                    <label> Status Influence</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="influenceStatus" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Digital Influence </label>
                    <input type="text" row="5" nbInput fullWidth formControlName="influenceDigital" placeholder="" />
                </div>
            </form>
            <button class="prev-button" nbButton nbStepperPrevious>prev</button>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success"  (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
          </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>