<nb-card accent="info" class="col-md-10 mx-auto">
    <nb-card-header>Update Member

    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="PricingForm">
            <div class="row">   
                <div class="form-group ">
                    <label>Name</label>
                    <input  row="5" nbInput fullWidth formControlName="firstName" placeholder="" />
                </div>
            </div>
            <div class="row">   
                <div class="form-group ">
                    <label>Email</label>
                    <input  row="5" nbInput fullWidth formControlName="email" placeholder="" />
                </div>
            </div>
            <div class="row">   
                <div class="form-group ">
                    <label>Phone Number</label>
                    <input  row="5" nbInput fullWidth formControlName="phoneNumber" placeholder="" />
                </div>
            </div>
            <div class="row">   
                <div class="form-group ">
                    <label>ID Number</label>
                    <input  row="5" nbInput fullWidth formControlName="idNumber" placeholder="" />
                </div>
            </div>
            <div class="row">   
                <div class="form-group ">
                    <label>Password</label>
                    <input  row="5" nbInput fullWidth formControlName="password" placeholder="" />
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success" [disabled]="PricingForm.invalid" (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
        </form>
    </nb-card-body>
</nb-card>

