<nb-layout>
    <nb-layout-column>
  <section class="background-radial-gradient overflow-hidden">
    <style>

    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-4 mb-5 mb-lg-0" style="z-index: 10">
          <img src="assets/zb2.png" width="300px" height="300px" alt="">
          <h1 class="display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%); font-size: 100px;">
            <br />
        
          </h1>
        </div>

        <div class="col-lg-8 mb-5 mb-lg-0 position-relative">
          <!-- <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div> -->

          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5" style="align-items: center !important; ">
              <h2 style="text-align: center;">Register</h2>
              <form [formGroup]="form" class="login-form" (ngSubmit)="register()">

                <div class="row">
                  <div class="col-lg-6">
                      <!-- FirstName input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">First Name</label>
                  <input type="text" formControlName="firstName"  id="form3Example3" class="form-control" />

                </div>
              </div>
                <div class="col-lg-6">

                      <!-- Last Name -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Last Name</label>
                        <input type="text" formControlName="lastName"  id="form3Example3" class="form-control" />
      
                      </div>

                </div>
                
                </div>

                <div class="row">
                  <div class="col-lg-6">
                      <!-- ID number input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">ID Number</label>
                  <input type="text" formControlName="idNumber"  id="form3Example3" class="form-control" />

                </div>
              </div>
                <div class="col-lg-6">

                      <!-- Phone Number Input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Phone NUmber</label>
                        <input type="number" formControlName="phoneNumber"  id="form3Example3" class="form-control" placeholder="077---" />
      
                      </div>

                </div>
                
                </div>

                <div class="row">
                  <div class="col-lg-6">
                   
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Email</label>
                  <input type="email" formControlName="email"  id="form3Example3" class="form-control" />

                </div>
              </div>
                <div class="col-lg-6">

                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Password</label>
                        <input type="text" formControlName="password"  id="form3Example3" class="form-control" />
      
                      </div>

                </div>
                
                </div>

                <div class="row">
                  <div class="col-lg-6">
                     
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">OneZB Staff Number</label>
                  <input type="number" formControlName="emailAddress"  id="form3Example3" class="form-control"  />

                </div>
              </div>
                <div class="col-lg-6">

                      <!-- Phone Number Input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Department</label>
                        <input type="text" formControlName="bankAccount"  id="form3Example3" class="form-control"  />
      
                      </div>

                </div>
                
                </div>

                <div class="row">
                  <div class="col-lg-6">
                     
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Job Title</label>
                  <input type="number" formControlName="cashFuneralPolicyNumber"  id="form3Example3" class="form-control"  />

                </div>
              </div>
                <div class="col-lg-6">

                      <!-- Phone Number Input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Department  Manager</label>
                        <input type="number" formControlName="qupaLoanAccountNumber"  id="form3Example3" class="form-control"  />
      
                      </div>

                </div>
                
                </div>

                <div class="row">
                  <div class="col-lg-6">
                     
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">ZB Location</label>
                  <input type="text" formControlName="address"  id="form3Example3" class="form-control"  />

                </div>
              </div>
                <div class="col-lg-6">

                      <div class="form-outline mb-4">
                        <label  class="form-label">Gender</label>
                        <nb-select  fullWidth id="meetingType" [(ngModel)]="selectedProductCode" formControlName="gender">
                            <nb-option *ngFor="let code  of productCodes" [value]="code.value">
                             {{code.name}}
                            </nb-option>
                        </nb-select>
                    </div> 

                </div>
                
                </div>

                <!-- Submit button -->
                <button type="submit" style="width: 300px;"   class="btn btn-primary btn-block mb-4">
                  REGISTER
                </button>


              </form>
              <!-- <div class="row"> -->
                <!-- <div class="col-lg-6">

                  <a [href]="url">Forgot Password</a>
                </div> -->
                <!-- <div class="col-lg-6"> -->
                  <a (click)="visitToLoginPage()"  class="register">Login</a>
                <!-- </div> -->
              <!-- </div> -->
          

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </nb-layout-column>
</nb-layout>

