<nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation>
        <nb-step [label]="labelOne">
          <ng-template #labelOne>First step</ng-template>
          <h4>ZB Products</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Banking</label>
                <input type="text" row="5" nbInput fullWidth formControlName="banking" placeholder="" />
            </div>
            <div class="form-group">
                <label>Insurance</label>
                <input type="text" row="5" nbInput fullWidth formControlName="insurance" placeholder="" />
            </div>
            <div class="form-group">
                <label>Investment</label>
                <input type="text" row="5" nbInput fullWidth formControlName="investment" placeholder="" />
            </div>       
        </form>
          <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Second step</ng-template>
          <h4>Value Added Services</h4>

          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Road Assistance</label>
                <input type="text" row="5" nbInput fullWidth formControlName="roadAssistance" placeholder="" />
            </div>
            <div class="form-group">
                <label>Security</label>
                <input type="text" row="5" nbInput fullWidth formControlName="security" placeholder="" />
            </div>
            <div class="form-group">
                <label>Carrier Guidance</label>
                <input type="text" row="5" nbInput fullWidth formControlName="carrierGuidance" placeholder="" />
            </div>
            <div class="form-group">
                <label>Airport Lounge</label>
                <input type="text" row="5" nbInput fullWidth formControlName="airportLounge" placeholder="" />
            </div>
        
           
        </form>
         
        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
      
        </nb-step>
        <nb-step label="Third step">
          <h4>Personal Agreement</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Action Status</label>
                <nb-select  fullWidth id="meetingType" [(ngModel)]="selectedProductCode" formControlName="activationStatus">
                    <nb-option *ngFor="let code  of productCodes" [value]="code.value">
                     {{code.name}}
                    </nb-option>
                </nb-select>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" row="5" nbInput fullWidth formControlName="email" placeholder="" />
            </div>
           
        </form>
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <div class="row"> <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
            <button nbButton status="success"  (click)="submit()">Submit</button>
        </nb-card-footer>

        </div>
        </nb-step>
        <!-- <nb-step [label]="labelFour">
          <ng-template #labelFour>Fourth step</ng-template>
          <h4>Client Due Diligence</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Diligence</label>
                <input type="text" row="5" nbInput fullWidth formControlName="deligents" placeholder="" />
            </div>
            <div class="form-group">
                <label for="formFileSm" class="form-label">File</label>
                <input class="form-control form-control-lg" (change)="onFileSelected($event)" id="file" formControlName="fileName" type="file" />
                <p *ngIf="selectedFileName">{{ selectedFileName }}</p> 
              </div>
            
              
        </form>
      
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button class="next-button"  nbButton  nbStepperNext>next</button>
        </nb-step> -->
        <!-- <nb-step [label]="labelFive">
            <ng-template #labelFive>Fifth step</ng-template>
            <h4>Qualification Criteria</h4>
            <form [formGroup]="SalesForm">
                <div class="form-group">
                    <label>Income Type</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="incomeType" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Assets Type</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="assetsType" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Influence Status</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="influenceStatus" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Influence Digital</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="influenceDigital" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Strategy</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="strategy" placeholder="" />
                </div>
               
            </form>
            <button class="prev-button" nbButton nbStepperPrevious>prev</button>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success"  (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
          </nb-step> -->
      </nb-stepper>
    </nb-card-body>
  </nb-card>