<nb-card accent="info" class="col-md-10 mx-auto">
    <nb-card-header>Create Product Price

    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="PricingForm">
            <div class="row">
                <div class="form-group">
                    <label>Code</label>
                    <nb-select  fullWidth id="meetingType" [(ngModel)]="selectedProductCode" formControlName="code">
                        <nb-option *ngFor="let code  of productCodes" [value]="code.value">
                         {{code.name}}
                        </nb-option>
                    </nb-select>
                </div> 
            </div>
            <div class="row">
                <!-- <div class="form-group col-md-6">
                    <label>Date</label>
                    <input row="5"  nbInput  [nbDatepicker]="date" fullWidth formControlName="date" placeholder="" />
                    <nb-datepicker #date></nb-datepicker>
                  
                </div> -->
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" row="5" nbInput fullWidth formControlName="price" placeholder="" />
                </div>
            </div>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success" [disabled]="PricingForm.invalid" (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
        </form>
    </nb-card-body>
</nb-card>

