<nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation>
        <nb-step [label]="labelOne">
          <ng-template #labelOne></ng-template>
          <h4>KYC Details</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" row="5" nbInput fullWidth formControlName="name" placeholder="" />
            </div>
            <div class="form-group">
                <label>Id Number</label>
                <input type="text" row="5" nbInput fullWidth formControlName="idNumber" placeholder="" />
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" row="5" nbInput fullWidth formControlName="address" placeholder="" />
            </div>
            <div class="form-group">
                <label>Spaces</label>
                <input type="text" row="5" nbInput fullWidth formControlName="spaces" placeholder="" />
            </div>
            <div class="form-group">
                <label>Social Intrests</label>
                <input type="text" row="5" nbInput fullWidth formControlName="socialIntrests" placeholder="" />
            </div>
            <div class="form-group">
                <label>Business Intrests</label>
                <input type="text" row="5" nbInput fullWidth formControlName="businessIntrests" placeholder="" />
            </div>
            <div class="form-group">
                <label>Contact Details</label>
                <input type="text" row="5" nbInput fullWidth formControlName="contactDetails" placeholder="" />
            </div>
           
        </form>
        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
        <div class="row"> <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
            <button nbButton status="success"  (click)="submit()">Submit</button>
        </nb-card-footer>

        </div>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Product and Services</ng-template>
          <img src="assets/zbServices.png" height="319px" alt="LUCY" class="wow flipInY animated animated">
         
         
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Third step">
          <h4>Terms and Conditions</h4>
          <img src="assets/terms.png" height="319px" alt="LUCY" class="wow flipInY animated animated">
         
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <div class="row"> <nb-card-footer>
              <button class="cancel" nbButton status="danger" (click)="dismiss()">Disagree</button>
              <button nbButton status="success"  (click)="submit()">Agree</button>
          </nb-card-footer>
          </div>
        
        </nb-step>
        <!-- <nb-step [label]="labelFour">
          <ng-template #labelFour>Fourth step</ng-template>
          <h4>Client Due Diligence</h4>
          <form [formGroup]="SalesForm">
            <div class="form-group">
                <label>Diligence</label>
                <input type="text" row="5" nbInput fullWidth formControlName="deligents" placeholder="" />
            </div>
            <div class="form-group">
                <label for="formFileSm" class="form-label">File</label>
                <input class="form-control form-control-lg" (change)="onFileSelected($event)" id="file" formControlName="fileName" type="file" />
                <p *ngIf="selectedFileName">{{ selectedFileName }}</p> 
              </div>
            
              
        </form>
      
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button class="next-button"  nbButton  nbStepperNext>next</button>
        </nb-step> -->
        <!-- <nb-step [label]="labelFive">
            <ng-template #labelFive>Fifth step</ng-template>
            <h4>Qualification Criteria</h4>
            <form [formGroup]="SalesForm">
                <div class="form-group">
                    <label>Income Type</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="incomeType" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Assets Type</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="assetsType" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Influence Status</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="influenceStatus" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Influence Digital</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="influenceDigital" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Strategy</label>
                    <input type="text" row="5" nbInput fullWidth formControlName="strategy" placeholder="" />
                </div>
               
            </form>
            <button class="prev-button" nbButton nbStepperPrevious>prev</button>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success"  (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
          </nb-step> -->
      </nb-stepper>
    </nb-card-body>
  </nb-card>