<section id="header" class="header">
    <div class="top-bar">
        <div class="container">
            <div class="navigation" id="navigation-scroll">
                    <div class="row">
                        <div class="col-md-11 col-xs-10">
                            <a href="index.html"><span id="logo"> <img src="assets/zb2.png" width="90px" height="90px" alt=""></span></a>
                        </div>
                        <div class="col-md-1 col-xs-2">
                            <!-- <p class="nav-button">
                                <button id="trigger-overlay" type="button">
                                <i class="fa fa-bars"></i>
                                </button>
                            </p> -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.navigation -->
            </div><!--/.container-->
        </div><!--/.top-bar-->

    <div class="container">
        <div class="starting">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/we.jpg" height="319px" alt="LUCY" class="wow flipInY animated animated">
                    <!-- <img src="assets/home.jpeg" width="350px" height="300px" alt=""> -->
                </div>
                <div class="col-md-6">
                    <div class="banner-text">
                         <h2 class="animation-box wow bounceIn animated"><strong class="strong">One ZB</strong><br>
                        Loyalty and Rewards </h2>
                        <p>
                            The customer is now owned by ONE ZB and is at the Centre of everything the business does. The objective is to create value along the customer journey within ONE ZB and to maximize the ZB Share of the customer wallet in the Ecosystem.
                        </p>
                        <a  class="btn btn-download wow animated fadeInLeft">
                        <!-- <i class="fa fa-android pull-left"></i> -->
                        <strong (click)="visitToLoginPage()" style="padding-left: 40px;">LOGIN</strong>
                         </a>
                        <a  class="btn btn-download wow animated fadeInRight">
                        <!-- <i class="fa fa-apple pull-left"></i> -->
                        <strong  (click)="visitToRegisterPage()" style="padding-left: 40px;">SIGNUP</strong>
                       </a>   
                    </div> <!-- /.banner-text -->
                </div>
            </div>
        </div>
        <!-- /.starting -->
    </div>
    <!-- /.container -->
</section>
