<nb-card accent="info" class="col-md-10 mx-auto">
    <nb-card-header>Redeem Points You Want

    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="SalesForm">
           
            <div class="form-group">
                <label>Points</label>
                <input type="number" row="5" nbInput fullWidth formControlName="amount" placeholder="" />
            </div>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success"  (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
        </form>
    </nb-card-body>
</nb-card>

