<div class="container-fluid mt-10 flex align-content-center justify-center ">
    <div class="baba">
      <h1 class="welcome">Welcome to Quizz</h1>
      <p class="instruction"> This quiz will contain total 9 questions. Each question holds 10 points</p>
      <h4 class="text-2xl font-bold mt-5">Rules:</h4>
      <ol class="list-decimal ml-5 text-lg">
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect Question gives you -10 points</li>
        <li>You will have 10sec to answer each question</li>
        <li>Refreshing the page will reset the question</li>
      </ol>
      <h1 class="text-center font-semibold text-4xl">All the best!</h1>
  
      <div class="flex justify-center">
        <div class="flex flex-row flex-wrap justify-center sm:w-full md:w-11/12 lg:w-1/2">
         <button
            class="button1"
            (click)="startQuiz()">Start the
            quiz</button>
        </div>
      </div>
    </div>
  </div>
  