@import '~bootstrap/scss/mixins/breakpoints';
  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  // nb-action {
  //   height: auto;
  //   display: flex;
  //   align-content: center;
  // }

  // nb-user {
  //   cursor: pointer;
  // }
  .icon-and-user {
    display: flex;
    align-items: center;
  }
  
 
  .icon-and-user nb-icon {
    margin-right: 30px; 
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      // @include nb-ltr(padding-right, 1.25rem);
      // @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;

      white-space: nowrap;
      text-decoration: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }




