<nb-card accent="info" class="col-md-10 mx-auto">
    <nb-card-header>Award Points

    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="SalesForm">
            <div class="row">
                <div class="form-group">
                    <label>Status</label>
                    <nb-select  fullWidth id="meetingType" [(ngModel)]="selectedProductCode" formControlName="transaction_status">
                        <nb-option *ngFor="let code  of productCodes" [value]="code.value">
                         {{code.name}}
                        </nb-option>
                    </nb-select>
                </div> 
             
            </div>
            <div class="row"> <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
                <button nbButton status="success"  (click)="submit()">Submit</button>
            </nb-card-footer>

            </div>
        </form>
    </nb-card-body>
</nb-card>

